@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

/* Add this to ensure font loading */
@layer base {
  @font-face {
    font-family: "Special Elite";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
  }
}
